 body {
  background-color: #F4E1D6;
  padding: 0px;
  margin: 0 auto;
  font-family: 'HKGrotesk', sans-serif;
  float: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;

}

@font-face {
  font-family: HKGrotesk;
  src: url(hkgrotesk-regular.woff);
  font-weight: normal;
}


@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


html {
  scroll-behavior: smooth;
}


img {
   max-width: 80%
 }



.text {
  text-align: center;
  /*position: relative;*/
}

.text h1 {
  font-family: 'Marcellus', serif;
  padding: auto;
  font-weight: normal;
  font-size: 68px;
}

.text h2 {
  padding-top: 80px;
  font-family: 'hkgrotesk-regular', serif;
  font-weight: normal;
  font-size: 16px;
}

.text h2::before {
  content: "\2192  ";
}

a {
  text-decoration: underline;
  /*color: #FF4E4E;*/
  color: black;
  font-weight: bold;
  text-align: center;

}

.text-centre {
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10% 10% 10% 10%;
    max-width: 940px;
}

@media only screen and (min-device-width : 768px) {
  .text h2 {
    padding-top: 40px;
  }
}




