body {
  background-color: #FFEDD7;
  padding: 0px;
  margin: 0 auto;
  font-family: 'hkgrotesk-regular', sans-serif;
  float: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
  color: #353535;
      /*background: url(background.png) no-repeat center center fixed, #FFEDD7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.background {

}

@font-face {
  font-family: hkgrotesk-medium;
  src: url(hkgrotesk-medium.woff);
  font-weight: bold;
}

@font-face {
  font-family: OPTICaslon;
  src: url(OPTICaslonBold-Cond.otf);
  font-weight: normal;
}


@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


@-webkit-keyframes reveal {
  0% {
    transform: translate(0,100%) rotate(-10deg);
  }
  100% {
    transform: translate(0,0) rotate(0deg);
  }
}

@-webkit-keyframes show {
  0% {
    transform: translate(0,100%);
    opacity: 0;
  }
  100% {
    transform: translate(0,0);
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

.logo img {
  max-width: 120px;
  padding-top: 40px;
  animation-delay: 500ms;
  animation: fadein 1s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-content: center;
}

.page-content {
  max-width: 100%;
  padding-top: 20%;
  /*padding: 25% 20% 0% 20%;*/
  /*overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  text-align: center;
  align-content: center;
}

.page-content h2 {
  font-size: 16px;
  margin-top: 40px;
  font-weight: bolder;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.content-title h1 {
  font-family: 'OPTICaslon', serif;
  padding: auto;
  font-weight: normal;
  font-size: 98px;
  margin: 0px;
  overflow: hidden;
  line-height: 1.2;
  margin-bottom: 0px;
}

.content-title h1 span {
  display: block;
  animation: reveal 1200ms;
}

.content-subtitle {
  margin-bottom: 200px;
  display: inherit;
}


.content-subtitle h2 {
  padding-bottom: 20px;
  font-family: 'hkgrotesk-regular', serif;
  font-weight: bold;
  font-size: 16px;
  margin-left: 30%;
}

.content-subtitle h2::before {
  content: "\2192  ";
}

.btn {
  font-family: 'hkgrotesk-regular', sans-serif;
  display: inline-block;
  color: #353535;
  text-decoration: none;
  line-height: 26px;
  letter-spacing: 0.5px;
}

.btn::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  transition: width .6s;
}

.btn:hover::after {
  width: 0%;
  transition: width .6s;
}

.cta {
  float: right;
  margin-right: 10%;
  margin-top: 50px;
}

.btn-cta {
  float: right;
  margin-right: 10%;
  color: white;
  text-decoration: none;
  line-height: 16px;
  letter-spacing: 0.5px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #FF4E4E;;
  border-style: none;
  transform: rotate(-10deg);
  transition: all .2s ease-in-out;
  animation: fadein 1s ease-in-out;
}

.btn-cta:hover {
  transform: rotate(-10deg);
  transform: scale(1.1);
}

.btn-cta a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.details {
  margin-left: 10%;
  margin-top: 150px;
  text-align: left;
  max-width: 20%;
  font-size: 10px;
}

.details h3 {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  color: #FF4E4E;
  overflow: hidden;
  line-height: 1.2;
  margin-bottom: 0px;
}

.details h3 span {
  opacity: ;
  display: block;
  animation: fadein 1s ease-in-out;
  animation: show 1s 500ms;
}

.details h3 span:after {
  opacity: 1;
}

.hero img {
  padding-top: 100px;
  max-width: 100%;
  animation: fadein 2s;
}

.content-playlist {
  margin-top: 100px;
  font-family: 'OPTICaslon', serif;
  opacity: 0;
}

.content-playlist h2 {
  margin-left: 10%;
  font-size: 48px;
}

.content-shirt {
  margin-top: 200px;
  font-family: 'OPTICaslon', serif;
  opacity: 0;
}

.content-shirt h2 {
  margin-left: 10%;
  font-size:48px;
}

.content-shirt-block {
  margin-left: 30%;
  margin-top: 100px;
  margin-bottom: 70px;
  max-width: 570px;
  text-transform: uppercase;
}

.content-shirt-block h2 {
  font-weight: normal;
  font-size: 16px;
  padding-bottom: 20px;
  margin: 0px;
}

.content-shirt-block h1 {
  margin: 0px;
  font-size: 16px;
  max-width: 80%;
  padding-bottom: 10px;
}

.content-shirt-block-image {
  opacity: 0;
    max-width: 100%;
}


.text-centre {
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 10% 10% 10% 10%;
  max-width: 768px;
}

.block-1 {
  min-height: 200px;
  position: absolute;
  float: left;
  padding-left: 20%;
  width: 100%;
}


#container {
width: 80%
font-size: 16px;
margin: 100px 5% 50px 15%;
text-decoration: none;
}

#container li {
  text-decoration: none;
  list-style: none;
  padding-bottom: 30px;
}

#container_div1 {
width: 20%;
float: left;
display: inline-block;
text-align: right;
padding-right: 5%;
font-weight: normal;
}

#container_div1 li {
  font-weight: normal;
}


#container_div2 {
width: 75%;
text-align: Left;
display: inline-block;
text-transform: uppercase;
font-weight: bold;
font-size: 16px;
}

#container_div2 a {
  text-decoration: none;
  color: #353535;
}

.scrolling-text {
  background-color: #FFAC55;
 height: 100px;  
 overflow: hidden;
 position: relative;
 margin-bottom: 100px;
 margin-top: 100px;
}

.scrolling-text h1 {
  color: white;
  text-transform: uppercase;
white-space: nowrap;
 font-size: 16px;
 font-family: 'hkgrotesk-regular', serif;
  font-weight: bold;
 position: ;
 width: auto;
 height: 100%;
 margin: 0;
 line-height: 80px;
 text-align: center;

 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);  
 transform:translateX(100%);

 /* Apply animation to this element */  
 -moz-animation: example1 30s linear infinite;
 -webkit-animation: example1 30s linear infinite;
 animation: example1 30s linear infinite;
}

.scrolling-text-values {
  margin-left: 10%;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
  }

.scrolling-text-values h1 {
  font-size: 98px;
  font-family: 'OPTICaslon', serif;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.2;
  color: #FFAC55;
  }

.scrolling-text-description {
  margin-left: 10%;
  max-width: 500px;
  font-size: 16px;
}

.scrolling-text-description h2 {
  font-size: 16px;
  padding-bottom: 80px; 
    font-weight: bold;
}

.scrolling-text-description p {
  line-height: 24px;
}

.side-image-block {
    width: 100%;
    float: right;
    margin-top: 100px;
 padding-bottom: 100px;
}

.side-image {
    right: 0px;
    max-width: 505px;
    position: relative;
    display: block;
    width: 100%;
    float: right
}

.btn-gif {
  margin-left: 10%;
  color: black;
  text-decoration: none;
  line-height: 16px;
  letter-spacing: 0.5px;
  /*height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: black;
  border-style: black;
  border-color: black;*/
  animation: fadein 1s ease-in-out;
}

.btn-gif:hover {
  position: relative;
}

.btn-gif a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.btn-gif:hover:after {
    content: url(leonardo.gif); /* no need for qoutes */
    display: block;
    position: absolute;
    left: 123px; /* change this value to one that suits you */
    top: 20%; /* change this value to one that suits you */
    float: left;
}



/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);     
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}

.quote {
  margin-top: 200px;
  margin-left: 10%;
  max-width: 40%;
  margin-right: ;
  opacity: ;
}

.quote h1 {
  font-size: 38px;
  font-family: 'OPTICaslon', serif;
}

.quote h2 {
  font-size: 16px;
  font-family: 'hkgrotesk-regular', serif;
  font-weight: bold;
  color: #FF4E4E;
}

.quote p {
  margin-top: 50px;
  font-size: 16px;
  font-family: 'hkgrotesk-regular', serif;
  font-weight: ;
}

footer {
   display: block;
   bottom: 0;
   width:100%; 
   overflow: hidden;
   float: left;
   padding-left: 0;
   margin-top: 50px;
   /*border-top: 1px solid;
   border-color: #737373;
   /*background-color: #141414;*/
   color: white;
}

.Footer_CTA {
  width: 80%;
  margin: 50px 5% 150px 10%;
  align-content: left;
  text-align: left;
  max-width: 1400px;
  color: black;
  font-family: 'OPTICaslon';
}

.Footer_CTA h1 {
    font-size: 28px;
    line-height: 48px;
}

.Footer_CTA h1 a:hover {
    text-decoration: underline;
}


footer a {
    text-decoration: none;
    color: #737373;
}

footer li {
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 20px;
    list-style: none;
}

footer li a {
  color: black;
}

footer a:hover {
  color: #737373;
  -webkit-transition: color 0.3s ease-out;
 -moz-transition: color 0.3s ease-out;
 -o-transition: color 0.3s ease-out;
 -ms-transition: color 0.3s ease-out;
 transition: color 0.3s ease-out;
}

footer p {
  font-size: 16px;
  font-weight: normal;
  padding: 0px;
  margin: 0px 0px 50px 0px;
  color: #b1b1b1;
}

#container-footer{
width: 80%
font-size: 16px;
margin: 100px 5% 100px 5%;
text-decoration: none;
}

#container_div3 {
width: 25%;
float: left;
display: inline-block;
}


#container_div4{
width: 30%;
text-align: Left;
display: inline-block;
}

@media only screen and (max-width: 768px) {

  .content-title h2 {
    padding-top: 40px;
  }

  .content-subtitle h2 {
    margin-left: 10%;
  }

  .content-shirt-block {
    margin-left: 10%;
  }

  .scrolling-text-values h1 {
    font-size: 58px;
  }

  .side-image {
    max-width: 335px;
  }

#container{
width: 80%
font-size: 16px;
margin: 100px 5% 100px 10%;
text-decoration: none;
}

#container_div1 {
width: 5%;
text-align: left;
}

.details {
  display: none;
}

#container_div2 {
width: 90%;
}

.page-content h2 {
  font-size: 16px;
  margin-top: 40px;
  font-weight: bolder;
}

  .page-content {
  max-width: 100%;
  padding-top: 30%;
}

  .content-title h1 {
    font-size: 58px;
  }
}


@media only screen and (max-width: 480px) {

  .content-title h1 {
    font-size: 58px;
  }

  .scrolling-text-values h1 {
    font-size: 48px;
  }

    .content-title h2 {
    padding-top: 40px;
  }

  .content-subtitle h2 {
    margin-left: 10%;
  }

  .content-shirt-block {
    margin-left: 10%;
  }


  img {
    max-width: 80%;
  }
}

#padding-block-100 {
  height: 100px;
}